.thank__you span i {
   font-size: 4rem;
   color    : green;
}

.thank__you h1 {
   font-size: 2.5rem;
   font-family: var(--subtitle-font-name);
}
.back_to_home_btn{
   height:4rem;
   width:10rem;
   background-color: rgb(47, 47, 255);
   color:white;
}


@media screen and (max-width:450px){
   .back_to_home_btn{
      width:15rem;
      height:3rem;
      color:white;
      text-decoration: none;
   }
}